body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    padding: 10px;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover{
    background-color: #a0a0a041;
}

li .buttons {
    display: flex;
    gap: 10px;
}

li button {
    background-color: #dc3545;
    padding: 5px 5px;
    margin: 0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button.edit-btn {
    background-color: #007bff;
}

li button.edit-btn:hover {
    background-color: #0056b3;
}

li button.delete-btn:hover {
    background-color: #c82333;
}

.delete-all-btn {
    background-color: #dc3545;
    width: 40%;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-all-btn:hover {
    background-color: #c82333;
}
